@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #08060b;
    --foreground: #ffffff;
    --card: #110e16;
    --card-foreground: #ffffff;
    --popover: #08060b;
    --popover-foreground: #ffffff;
    --primary: #6d28d9;
    --primary-foreground: #ffffff;
    --secondary: #19171e;
    --secondary-foreground: #e2e8f0;
    --muted: #201e25;
    --muted-foreground: #94a3b8;
    --accent: #6d28d9;
    --accent-foreground: #ffffff;
    --destructive: #dc2626;
    --border: #19171e;
    --input: #19171e;
    --ring: #6d28d9;
  }
}